:root {
    --cor-de-fundo: white;
    --branco: #FFFFFF;
    --roxo: rgb(108, 82, 150);
    --roxo--degrade:rgb(134, 97, 145);
    --fonte-principal: 'Poppins';
    --azul: #002f52;
}

body {
      background-color: var(--cor-de-fundo);
      font-family: var(--fonte-principal);
      font-size: 16px;
      font-weight: 400;
}

.cabeçalho__menu-hamburguer{
    width: 24px;
    height:24px;
    display:inline-block;
    background-image: url('../img/menu.svg');
    background-repeat: no-repeat;
    background-position: center;
}
